envName: {{envName}}
<br> allowRandom: {{allowRandom$ | async}}
<br> randomPlayback: {{randomPlayback$ | async}}
<br> appMode: {{appMode}}
<br> production: {{production}}
<br> proxyUrl: {{proxyUrl}}
<br> domainModes: {{domainModes | json}}
<br>
<br> mode: {{mode$ | async}}
<br> modeFilter: {{modeFilter$ | async}}
<br> searchTerm: {{searchTerm$ | async}}
<br> orderField: {{orderField$ | async}}
<br> reverseOrder: {{reverseOrder$ | async}}
<br> showTracks: {{showTracks$ | async}}
<br> playlist: {{playlist$ | async| json}}
<br>
<br> Itemlist: {{items$ | async | json}}