<!-- Playlist starten -->
<div *ngIf="files.length && !playlistStarted"
     class="text-center mt-2 mb-2">
  <button class="button-clean">
    <i class="fa fa-play mr-2"></i>Playlist starten</button>
</div>

<!-- Info ueber Playlist -->
<div *ngFor="let file of files; let i = index, let first = first"
     (click)="jumpTo(i)"
     class="row no-gutters item"
     [class.waiting]="i === jumpPosition"
     [class.playing]="i === position && playlistStarted"
     [class.first]="first">

  <!-- Play-/ Spiner-Symbol-->
  <div class="fa fa-fw"
       [ngClass]="{
        'fa-play': i === position && playlistStarted,
        'fa-spinner fa-spin': i === jumpPosition
         }">
  </div>

  <!-- Name es Videos -->
  <div class="col pl-1">{{file|fileName}}</div>

  <!-- Zeitinfo des Videos -->
  <div class="item-length text-right">
    <ng-container *ngIf="i < position">0:00</ng-container>
    <ng-container *ngIf="i === position && time !== '' && playlistStarted">{{time|timeformatter}}</ng-container>
    <ng-container *ngIf="i > position || !playlistStarted">{{file.length|timeformatter}}</ng-container>
  </div>
</div>

<!-- Laenge der Playlist -->
<div *ngIf="files.length > 1"
     class="filesTotalTime">{{filesTotalTime | timeformatter}}
</div>