<!-- Info ueber aktuell laufende Playlist -->
<ng-container *ngFor="let file of files; let i = index"
              class="row no-gutters">

  <!-- Titel. Fett anzeigen (bei >=10 Titel fuehrende 0 bei Zaehlung) -->
  <div (click)="jumpTo(i)"
       class="item"
       [class.waiting]="i === jumpPosition"
       [class.font-weight-bold]="i === position">

    <!-- Gesamtzeit des Videos -->
    <div class="item-length text-right mr-2">{{file.length|timeformatter}}</div>

    <!-- Name es Videos -->
    <div class="col">{{file|fileName}}</div>

    <!-- aktuelle Laufzeit, wenn es das gerade aktuelle Vieo ist-->
    <ng-container *ngIf="i === position && time !== ''"> ({{time|timeformatter}})</ng-container>

    <!-- Spinner anzeigen, wenn zu diesem Titel gesprungen werden soll -->
    <i class="fa fa-spinner fa-spin"
       *ngIf="i === jumpPosition"></i>
  </div>
</ng-container>

<!-- Laenge der Playlist -->
<div *ngIf="files.length > 1"
     class="row no-gutters cursor-pointer mt-3"
     (click)="startPlaylist()">

  <!-- formattierte Laenge der gesamten Playlist -->
  <div class="item-length text-right mr-2">{{filesTotalTime | timeformatter}}</div>
</div>