<!-- Playlist starten -->
<button class="button-clean ml-3 my-2 start-playlist"
        *ngIf="files.length && position < 0"
        (click)="jumpTo(0)">
  <i class="fa fa-fw fa-play mr-2"></i>Playlist starten</button>

<!-- Info ueber Playlist (Playlist sortierbar) -->
<div [sortablejs]="files"
     (update)=sortDone($event)
     (filter)=eventInsideSort($event)>

  <!-- nur Items nach der aktuellen Position sortierbar-->
  <div *ngFor="let file of files, index as i, first as first"
       class="row no-gutters item pl-3"
       [ngClass]="{
       'drag': i > position,
       'waiting': i === jumpPosition,
       'playing': i === position,
       'first': first
     }">

    <!-- Play-/ Spiner-Symbol-->
    <div *ngIf="i === position || i === jumpPosition"
         class="fa fa-fw"
         [ngClass]="{
        'fa-play': i === position,
        'fa-spinner fa-spin': i === jumpPosition
         }">
    </div>

    <!-- Jump To (vor sort Bereich) -->
    <i *ngIf="i < position && i !== jumpPosition"
       (click)="jumpTo(i)"
       class="fa fa-fw fa-play opacity-30"></i>

    <!-- Jump To (im Sortbereich) -->
    <i *ngIf="i > position && i !== jumpPosition"
       data-func="jump"
       [attr.data-index]="i"
       class="fa fa-fw fa-play ignore-sort opacity-30"></i>

    <!-- Name des Videos. Klick startet video -->
    <div [class.sort-handle]="draggable(i)"
         class="col ml-3 mr-3">{{file.name|fileName}}</div>

    <!-- Titel aus Playlist loeschen, nur Titel nach aktueller Position sind loeschbar -->
    <button [class.invisible]="i <= position"
            data-func="remove"
            class="button-clean add-item ignore-sort"><i class="fa fa-minus"></i></button>

    <!-- Zeitinfo des Videos -->
    <div class="item-length text-right mr-1">

      <!-- Video wurde schon gespielt. Restzeit 0:00 -->
      <ng-container *ngIf="i < position">0:00</ng-container>

      <!-- Aktuelles Video (runterlaufende Zeit) -->
      <ng-container *ngIf="i === position && time !== ''">{{time|timeformatter}}</ng-container>

      <!-- Videos nach aktueller Playlistposition (Gesamtlaufzeit des Videos) -->
      <ng-container *ngIf="i > position">{{file.length|timeformatter}}</ng-container>
    </div>
  </div>
</div>

<!-- Laenge der Playlist -->
<div *ngIf="files.length > 1"
     class="filesTotalTime">{{filesTotalTime | timeformatter}}
</div>