//MH Variablen importieren
@import '~scss/variables.scss';

.start-playlist:hover {
    background: $color-info-green;
    border-radius: $border-radius;
}

.item {
    padding-left: 5px;
    background: $color-light-bg;
    cursor: pointer;
    display: flex;
    border-bottom: 1px solid $color-grey;
    align-items: center;
    justify-content: center;
    user-select: none;
    padding: 5px;

    &:hover:not(.active-item):not(.sortable-chosen) {
        background: $color-light-bg-hover;
    }

    &.waiting {
        background: $color-light-bg-hover;
    }

    &.first {
        border-top: 1px solid $color-grey;
    }
}

.playing {
    background: $color-info-green;
}

.filesTotalTime {
    text-align: right;
    padding: 5px;
    padding-bottom: 0px;
}

.play-spinner {
    flex: 1;
    display: flex !important;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    max-width: 40px;
}

@media (hover: none) {
    .item {
        &:hover:not(.active-item):not(.waiting) {
            background: $color-light-bg;
        }
    }
}