//MH Variablen importieren
@import '~scss/variables.scss';

.item {
    padding-left: 5px;
    background: $color-light-bg;
    cursor: pointer;
    display: flex;
    border-bottom: 1px solid $color-light-border-grey;
    align-items: center;
    justify-content: center;
    user-select: none;
    padding: 5px;
    min-height: 36px;

    &:hover:not(.active-item):not(.sortable-chosen) {
        background: $color-light-bg-hover;
    }

    &.waiting {
        background: $color-light-bg-hover;
    }

    &.first {
        border-top: 1px solid $color-light-border-grey;
    }
}

.playing {
    background: $color-light-bg-active !important;
}

.play-spinner {
    flex: 1;
    display: flex !important;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    max-width: 40px;
}

.start-playlist {
    padding: 5px;
    border-bottom: 1px solid $color-light-border-grey;
}

@media (hover: none) {
    .item {
        &:hover:not(.active-item):not(.waiting) {
            background: $color-light-bg;
        }
    }
}