<!-- Playlist starten -->
<button class="button-clean ml-2 mt-2 mb-2 start-playlist"
        *ngIf="files.length && position < 0"
        (click)="jumpTo(0)">
  <i class="fa fa-play mr-2"></i>Playlist starten</button>

<!-- Info ueber Playlist -->
<div *ngFor="let file of files; let i = index, let first = first"
     (click)="jumpTo(i)"
     class="row no-gutters item"
     [class.waiting]="i === jumpPosition"
     [class.playing]="i === position"
     [class.first]="first">

  <!-- Play-/ Spiner-Symbol-->
  <div class="fa fa-fw"
       [ngClass]="{
        'fa-play': i === position,
        'fa-spinner fa-spin': i === jumpPosition
         }">
  </div>

  <!-- Name des Videos -->
  <div class="col pl-1">{{file|fileName}}</div>

  <!-- Zeitinfo des Videos -->
  <div class="item-length text-right">

    <!-- Video wurde schon gespielt. Restzeit 0:00 -->
    <ng-container *ngIf="i < position">0:00</ng-container>

    <!-- Aktuelles Video (runterlaufende Zeit) -->
    <ng-container *ngIf="i === position && time !== ''">{{time|timeformatter}}</ng-container>

    <!-- Videos nach aktueller Playlistposition (Gesamtlaufzeit des Videos) -->
    <ng-container *ngIf="i > position">{{file.length|timeformatter}}</ng-container>
  </div>
</div>

<!-- Laenge der Playlist -->
<div *ngIf="files.length > 1"
     class="filesTotalTime">{{filesTotalTime | timeformatter}}
</div>