<!-- sortierbare Playlist -->
<div cdkDropList
     [cdkDropListDisabled]="files.length < 2"
     (cdkDropListDropped)="drop($event)"
     class="sort-list">
     <div *ngFor="let file of files, index as i, first as first"
          cdkDrag
          class="row no-gutters item pl-2"
          [ngClass]="{
       'opacity-50': i < position,
       'waiting': i === jumpPosition,
       'playing': i === position,
       'first': first
     }">

          <!-- Spiner-Symbol, waehrend Laden des neuen Videos -->
          <div *ngIf="i === jumpPosition"
               class="fa fa-fw cursor-pointer"
               [ngClass]="{
                     'fa-spinner fa-spin': i === jumpPosition}"></div>

          <!-- Player-Symbol (Jump to) -->
          <i *ngIf="i !== jumpPosition"
             (click)="jumpTo(i)"
             class="fa fa-fw fa-play opacity-50 cursor-pointer"
             [class.opacity-50]="i !== position"></i>

          <!-- Name des Videos -->
          <div class="col ml-2 mr-1"
               [ngClass]="{
      'font-weight-bold': i === position}">{{file.name|fileName}}</div>

          <!-- Zeitinfo des Videos -->
          <div class="item-length text-right">

               <!-- Video wurde schon gespielt. Restzeit 0:00 -->
               <ng-container *ngIf="i < position">0:00</ng-container>

               <!-- Aktuelles Video (runterlaufende Zeit) -->
               <ng-container *ngIf="i === position">{{time|timeformatter}}</ng-container>

               <!-- Videos nach aktueller Playlistposition (Gesamtlaufzeit des Videos) -->
               <ng-container *ngIf="i > position">{{file.length|timeformatter}}</ng-container>
          </div>

          <!-- Titel aus Playlist loeschen, nur Titel nach aktueller Position sind loeschbar -->
          <button [class.invisible]="i <= position"
                  (click)="removeItemFromPlaylist(index)"
                  data-func="remove"
                  class="button-clean add-item ignore-sort opacity-50 ml-2"><i class="fa fa-trash"></i></button>

          <!-- Sortierhandle -->
          <i cdkDragHandle
             [class.invisible]="files.length < 2"
             class="fa fa-bars fa-fw px-1 opacity-50 mr-1 cursor-move ml-1"></i>
     </div>
</div>

<!-- 2. Zeile: Playlist starten-Button und Gesamtlaenge der Playlist-Countdown -->
<div *ngIf="(files.length && position + 1 < files.length)"
     class="start-playlist align-items-center pl-2 pr-2 d-flex py-2">

     <!-- Playlist starten -->
     <div class="font-weight-bold cursor-pointer btn btn-sm btn-info"
          *ngIf="files.length && position < 0"
          (click)="jumpTo(0)">
          <i class="fa fa-fw fa-play"></i>
          <span class="ml-1">Playlist starten</span>
     </div>

     <!-- Laenge der Playlist -->
     <div class="ml-auto mr-1"
          *ngIf="files.length > 1">{{filesTotalTime | timeformatter}}
     </div>
</div>