/src/tools/connection.php
/nbproject/private/
/nbproject/project.properties
/nbproject/project.xml
/package-lock.json
/node_modules
/.vscode
/dist-video
/dist
/myDist.zip
/src/tools/connection.js
src/tools/link.js
myJson.zip
myAssets
src/tools/config.json
/.angular