<!-- Player-Funktionen -->
<!-- Item nach links spulen -->
<button (click)="seek(false)"
        [disabled]="position < 0"
        class="ripple fa fa-backward text-info button-clean mr-2"></button>

<!-- toggle pause restart -->
<button (click)="togglePausedRestart()"
        [disabled]="position < 0"
        class="ripple fa button-clean mr-2 text-info"
        [ngClass]='{
                "fa-play": paused,
                "fa-pause": !paused
        }'></button>

<!-- stop -->
<button (click)="stopAndResetPlaylist()"
        [disabled]="position < 0"
        class="ripple fa fa-stop text-info button-clean mr-2"></button>

<!-- Item nach rechts spulen -->
<button (click)="seek(true)"
        [disabled]="position < 0"
        class="ripple fa fa-forward text-info button-clean"></button>