<!-- vorheriges Item -->
<!--
<button (click)="changeItem(false)"
        [class.invisible]="files.length === 1"
        [disabled]="position === 0"
        class="ripple fa fa-fast-backward text-info button-clean"></button>
-->

<!-- Item nach links spulen -->
<button (click)="seek(false)"
        class="ripple fa fa-backward text-info button-clean"></button>

<!-- toggle pause restart -->
<button (click)="togglePausedRestart()"
        class="ripple fa button-clean"
        [ngClass]='{
                "fa-play text-success": paused,
                "fa-pause text-warning": !paused
        }'></button>

<!-- stop -->
<button (click)="stopAndResetPlaylist()"
        class="ripple fa button-clean"
        class="ripple fa fa-stop text-danger button-clean"></button>

<!-- Item nach rechts spulen -->
<button (click)="seek(true)"
        class="ripple fa fa-forward text-info button-clean"></button>

<!-- naechstes Item -->
<!-- <button (click)="changeItem(true)"
        [class.invisible]="files.length === 1"
        [disabled]="position === (files.length - 1)"
        class="ripple fa fa-fast-forward text-info button-clean"></button>
-->