<!-- Sortierung nach Name aufsteigend -->
<div class="tag shadow d-flex align-items-center justify-content-center"
     [class.activeFilter]="orderField + '-' + reverseOrder === 'name-false'"
     (click)="setOrder('name', false)">
  <i class="fa fa-font"></i>
  <i class="ml-1 fa fa-sort-up"></i>
</div>

<!-- Sortierung nach Dauer aufsteigend -->
<div class="tag shadow d-flex align-items-center justify-content-center"
     [class.activeFilter]="orderField + '-' + reverseOrder === 'length-false'"
     (click)="setOrder('length', false)">
  <i class="fa fa-clock-o"></i>
  <i class="ml-1 fa fa-sort-up"></i>
</div>

<!-- Sortierung nach Dauer absteigend -->
<div class="tag shadow d-flex align-items-center justify-content-center"
     [class.activeFilter]="orderField + '-' + reverseOrder === 'length-true'"
     (click)="setOrder('length', true)">
  <i class="fa fa-clock-o"></i>
  <i class="ml-1 fa fa-sort-down"></i>
</div>