//Variable importerein
@import '~scss/variables.scss';

//eigene styles
.items {
    .add-item {
        background: $color-light-bg;
        align-self: stretch;
        border-top: 1px solid $color-grey;
        width: 35px;
        color: $color-grey;

        &:not(:disabled) {
            &:hover {
                background: $color-light-bg-hover;
            }

        }
    }

    .box {
        //border-bottom: 1px solid $color-grey; //border-radius: $border-radius;
        border: none;
        border-top: 1px solid $color-grey;
        padding: 5px;
        background: $color-light-bg;

        .fa-play,
        .fa-plus {
            display: none;
        }

        &:not(:disabled) {
            &:hover:not(.active-item) {
                background: $color-light-bg-hover;

                .fa-play,
                .fa-plus {
                    display: inline;
                    opacity: .5;
                }
            }
        }

        &.active-item {
            background: $color-light-bg-active;

            .fa-play,
            .fa-plus {
                display: inline;
                opacity: 1;
            }
        }

        ul {
            margin-bottom: 0;
            padding-left: 21px;

            li {
                list-style-type: none;
                color: $color-light-grey;
            }
        }
    }
}

@media (hover: none) {
    .box {
        &:hover:not(.active-item) {
            background: $color-light-bg !important;

            .fa-play,
            .fa-plus {
                display: none !important;
            }
        }
    }
}