<!-- Ueber Items-Array gehen und die bereits gefilterte und sortierte Liste ausgeben -->
<button *ngFor="let item of items$ | async"
        class="row no-gutters items pl-3 box"
        [disabled]="isInPlaylist(item)">

  <!-- Links: Direktes Abspielen-Symbol -->
  <i class="fa fa-fw fa-play mr-3 align-self-center opacity-50"
     [class.invisible]="isInPlaylist(item)"
     (click)="addToPlaylist(item, true)"></i>

  <!-- Rechts: [Titel, Dauer] darunter Info -->
  <div class="col no-gutters"
       (click)="addToPlaylist(item, false)">

    <!-- Name des Titels und Laenge -->
    <div class="col row no-gutters">

      <!-- gekuerzter Itemname mit Highlight -->
      <span class="col text-left"
            [highlight]="searchTerm">{{item.name|fileName:modeFilter}}</span>

      <!-- formattierte Laenge des Items -->
      <div class="item-length item-length-video text-right ml-1 mr-1">
        {{item.length | timeformatter}}
      </div>
    </div>

    <!-- Wenn Tracks angezeigt werden sollen, Tracks ausgeben (mit Highlight) -->
    <ul *ngIf="showTracks$ | async">
      <li *ngFor="let track of item.tracks"
          class="mr-1"
          [highlight]="searchTerm">
        {{track}}
      </li>
    </ul>
  </div>
</button>