<!-- Ueber Items-Array gehen und die bereits gefilterte und sortierte Liste ausgeben -->
<div *ngFor="let item of items$ | async"
     class="row no-gutters align-items-center items">

  <!-- Enque-Symbol -->
  <button (click)="addToPlaylist(item, false)"
          class="fa button-clean add-item fa-plus"> </button>

  <!-- Button um einzelnes Item direkt zu starten -->
  <button (click)="addToPlaylist(item, true)"
          class="box col text-left pl-2"
          [class.active-item]="item.mode + '/' + item.file === activeItem">

    <!-- Zeile mit (hover-) Playsymbol, Name der Playlist und Laenge -->
    <div class="row no-gutters align-items-center">

      <!-- Play-Symbol bei hover und active angezeigt -->
      <i class="fa fa-play mr-2"></i>

      <!-- Itemname -->
      <span class="col">{{item.name}}</span>

      <!-- formattierte Laenge des Items -->
      <div class="item-length item-length-{{appMode}} text-right ml-1 mr-1">
        {{item.length | timeformatter}}
      </div>
    </div>

    <!-- Wenn Tracks angezeigt werden sollen -->
    <ul *ngIf="showTracks$ | async">

      <!-- Tracks ausgeben -->
      <li *ngFor="let track of item.tracks">
        {{track}}
      </li>
    </ul>
  </button>
</div>