<!-- Ueber Items-Array gehen und die bereits gefilterte und sortierte Liste ausgeben -->
<div *ngFor="let item of items$ | async"
     class="row no-gutters align-items-center items">

  <!-- Enque-Symbol (deaktiviert, wenn Titel in Playlist) -->
  <button (click)="addToPlaylist(item, false)"
          [disabled]="isInPlaylist(item)"
          class="button-clean add-item">
    <i *ngIf="!isInPlaylist(item)"
       class="fa fa-plus"></i>
  </button>

  <!-- Button um einzelnes Item direkt zu starten -->
  <button (click)="addToPlaylist(item, true)"
          [disabled]="isInPlaylist(item)"
          class="box col text-left pl-2">

    <!-- Zeile mit (hover-) Playsymbol, Name der Playlist und Laenge -->
    <div class="row no-gutters align-items-center">

      <!-- Play-Symbol bei hover und active angezeigt (wenn Titel nicht in Playlist)-->
      <i *ngIf="!isInPlaylist(item)"
         class="fa fa-play mr-2"></i>

      <!-- Itemname -->
      <span class="col">{{item.name|fileName}}</span>

      <!-- formattierte Laenge des Items -->
      <div class="item-length item-length-video text-right ml-1 mr-1">
        {{item.length | timeformatter}}
      </div>
    </div>

    <!-- Wenn Tracks angezeigt werden sollen -->
    <ul *ngIf="showTracks$ | async">

      <!-- Tracks ausgeben -->
      <li *ngFor="let track of item.tracks">
        {{track}}
      </li>
    </ul>
  </button>
</div>