@import '~scss/variables.scss';

.result-line-height {
    height: 32px;
}

.box {
    border: none;
    border-top: 1px solid $color-light-border-grey;
    //padding: 5px;
    background: $color-light-bg;
    width: 100%;

    .fa-play,
    .fa-plus {
        color: $color-grey;
    }

    &:not(:disabled) {
        &:hover:not(.active-item) {
            background: $color-light-bg-hover;

            .fa-play,
            .fa-plus {
                display: inline;
            }
        }
    }

    &.active-item {
        background: $color-light-bg-active;

        .fa-play,
        .fa-plus {
            display: inline;
            opacity: 1;
        }
    }

    ul {
        margin-bottom: 0;
        padding-left: 32px;

        li {
            text-align: left;
            list-style-type: none;
            color: $color-light-grey;
        }
    }
}

@media (hover: none) {
    .box {
        &:hover:not(.active-item) {
            background: $color-light-bg !important;
        }
    }
}