//Variable importerein
@import '~scss/variables.scss';
//eigenes styles

.grid-form {
    display: grid;
    grid-gap: 5px;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    justify-content: space-between;
    flex: 1;

    &.grid-label {
        grid-template-columns: repeat(auto-fill, 75px);
    }

    &.grid-icon {
        grid-template-columns: repeat(auto-fill, 66px);
    }

    .mode-filter {
        border: 3px solid $color-grey;
        border-radius: $border-radius;
        padding: 5px;
        user-select: none;

        img {
            filter: grayscale(1);
        }

        &:hover:not(.active) {
            border: 3px solid $color-light-bg-hover;

            img {
                filter: grayscale(.3);
            }
        }

        &.active {
            border: 3px solid $color-light-bg-active;

            img {
                filter: grayscale(0);
            }
        }
    }
}