<!-- Suchfeld: Label besteht aus Icon und Input -->
<label class="search-field form-control d-flex g-0 align-items-center p-1"
       for="searchField">

       <!-- Such-Symbol -->
       <i class="fa fa-search ms-2"></i>

       <!-- Suchefeld -->
       <input [formControl]="searchField"
              autofocus
              autocomplete="off"
              id="searchField"
              placeholder="Suche"
              class="col ms-2"
              id="search"
              type="search"
              name="search">
</label>