<!-- Suchfeld: Label besteht aus Icon und Input -->
<label class="search-field form-control d-flex no-gutters align-items-center p-1"
       for="searchField">

    <!-- Such-Symbol -->
    <i class="fa fa-search ml-2"></i>

    <!-- Suchefeld -->
    <input [formControl]="searchField"
           autofocus
           autocomplete="off"
           id="searchField"
           placeholder="Video suchen"
           class="col ml-2"
           id="search"
           type="search"
           name="search">
</label>