//MH Variablen importieren
@import '~scss/variables.scss';

:host {
    position: relative;
    display: flex;
    flex: 1;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.app-content {
    background: $color-white;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.item-count {
    width: 69px;
    font-size: 14px;
}

.mode-filter-hr {
    margin-bottom: 10px;
}

.header {
    background: $color-info-blue;
    color: $color-grey;
}

.player-controls {
    background: rgba($color-info-blue, .1);
}