<!-- Inspektor mit den moeglichen Werten, wird nur bei dev angezeigt -->
<!-- <debuginspector class="d-flex"></debuginspector> -->

<!--Container fuer Elemte, wenn Anwendung laeuft -->
<div *ngIf="!(shutdown$ | async); else shutdownTemp"
     class="app-content container no-gutters p-0 shadow">

  <!-- 1. Zeile: Modes, Connection und Shutdown -->
  <div class="header row no-gutters align-items-center py-1 px-2">

    <!-- Liste der Modes (Kindervideos vs. Jahresvideos) -->
    <selectmode class="col"></selectmode>

    <!-- Countdown -->
    <countdown></countdown>

    <!-- Zustand der WSS-Verbindung -->
    <connection></connection>

    <!-- Shutdown -->
    <picontrol></picontrol>
  </div>

  <!-- 2. Zeile: Steuerelemente -->
  <div class="row no-gutters py-1 px-2 justify-content-center player-controls">

    <!-- Play, Pause, Stop, Seek  -->
    <playercontrol class="col-8 control-content row no-gutters"></playercontrol>

    <!-- Lautstaerke -->
    <volume-control class="col row no-gutters justify-content-end"></volume-control>
  </div>

  <!-- 3. Zeile: Playlist -->
  <playlist class="d-block"></playlist>

  <!-- 4. Zeile: Filter-Buttons -->
  <modefilter *ngIf="showModeFilterList"
              class="d-flex mx-2 mt-4"></modefilter>

  <!-- 5. Zeile: Suchfeld Info-Button, Sortier-Button -->
  <div class="d-flex no-gutters mx-2 mt-2">

    <!-- Suchfeld fuer Trefferliste -->
    <searchfilter class="col mr-2"></searchfilter>

    <!-- Ansicht der Infos zu toggeln -->
    <toggletrackview class="d-flex mr-2"></toggletrackview>

    <!-- Sortierbuttons der Trefferliste -->
    <sortfilter class="d-block"></sortfilter>
  </div>

  <!-- 6. Zeile: Trefferliste -->
  <resultlist class="mt-4 d-block"></resultlist>
</div>

<!-- Anzeigen, wenn Pi heruntergefahren wurde -->
<ng-template #shutdownTemp>
  <div class="container mr-0 ml-0 no-gutters text-center">
    Der Player wurde beendet.
  </div>
</ng-template>