//Farben
$color-lighter-grey: #eee;
$color-light-grey: #777;
$color-grey: grey;
$color-white: white;
$color-light-bg: lightyellow;
$color-light-bg-hover: rgba(255, 166, 0, .4);
$color-light-bg-active: rgba(255, 165, 0, .8);
$color-info-blue: #47a8d8;
$color-info-green: #c7f4ba;
//Rahmen
$border-radius: 5px;