{
    "localJsonDir": "C:/Users/Martin/Desktop/Nextcloud/Raspi/files/wvp/json",
    "localVideoDir": "D:/Nextcloud MH/Raspi/files/wvp/videos",
    "remoteVideoDir": "/media/pi/usb_red/Nextcloud/Raspi/files/wvp/videos"
}