{
    "localJsonDir": "D:/Nextcloud MH/Raspi/files/wvp/json/pw",
    "localVideoDir": "D:/Nextcloud MH/Raspi/files/wvp/videos",
    "remoteVideoDir": "/media/pi/usb_red/Nextcloud/Raspi/files/wvp/videos"
}