module.exports = {
        pw: {
            host: '',
            user: 'root',
            password: '',
            assetId: 'pw'
        },
        vb: {
            host: '',
            user: 'root',
            password: '',
            assetId: 'pw'
        },
        marlen: {
            host: '',
            user: 'root',
            password: '',
            assetId: 'marlen'
        }
};