module.exports = {
     
    //Wo liegt das Video ("zdf", "wdr", "dm")
    source: "wdr",

    //Praefix fuer Dateiname (conni, bibi-tina, bibi, maus)
    mode: "maus",

    //Array von Namen und Links aus Med.
    urls: [
        ["anglerglueck", "https://..."],
        ["apfelbaum", "https://..."],
    ]
};