module.exports = {
    //Praefix fuer Dateiname (conni, bibi-tina)
    mode: "conni",
    
    //Dateiname der mp4-Datei (baustelle, zirkuspony)
    fileName: "laterne",

    //Wo liegt das Video ("zdf", "dm")
    source: "zdf",
    
    //Link aus Med.
    url: ""
};